{% extends 'base.html' %}

{% block content %}
    <style>
        ul{
            list-style: none;
        }
        li{
            text-align: center;
            transition: 0.5s ease-in-out;
        }
        li:hover{
            background-color: #ccc;            
        }
    </style>
    <div class="container">
        <h1>
            Welcome home  {{request.user.username}}...!!!
        </h1>
        <ul>
            {% for file in files%}
            <li>    
            <a href="{{file.file.url}}">{{file.name}} \ {{file.file.url}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
       {% endblock %}