{% extends 'base.html' %}
{% block content %}
    <style>
        ul{
            list-style: none;
        }
        li{
            text-align: center;
            transition: 0.5s ease-in-out;
        }
        li:hover{
            background-color: #ccc;            
        }
    </style>
    <div class="container">
        <h1>
            Welcome home  {{request.user.username}}...!!!
        </h1>
        <!--<ul>
            {% for file in files%}
            <li>    
            <a href="{{file.file.url}}">{{file.name}} \ {{file.file.url}}</a>
            </li>
            {% endfor %}
        </ul>-->
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">SNo.</th>
                    <th scope="col">Name</th>
                    <th scope="col">File</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for file in files %}
                <tr>
                    <td>
                        {{file.id}}
                    </td>
                    <td>
                        {{file.name}}
                    </td>
                    <td>
                        <a href="{{file.file.url}}" class="btn btn-primary">View</a>
                    </td>
                    <td>
                        <form method="POST" action="{% url 'delete' file.pk%}">
                            {% csrf_token %}
                            <button class="btn btn-danger" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
       {% endblock %}